

.mb-color {
    background-color: #009688;
}

.mb-button-action {
    margin-left: 15px;
}


.mb-delete-button {
    .btn {
        background-color: #d32f2f;
    }
}

.hl7-server-view {
    margin-right: 10px
}

.content {
    
}

.btn-margin {
    margin-left: 5px;
}