<div class="row">
    {{md-input value=serverIp label='Server IP' class="col s8"}}
    {{md-input value=serverPort label='Port' type="number" class="col s4"}}
</div>

<div class="mb-button-action">{{md-btn-submit icon='mdi-content-send' iconPosition='right' text='Save' action='setServerSettings' class="light-green darken-3"}}</div>