<br>

<div class="row">
    {{md-input value=messagesPath label='Hl7 messages path' type="email" class="col s12"}}
</div>

{{md-btn text='Show messages'
    action=(route-action 'setPath' messagesPath)
    buttonType='large'
    class='light-green darken-3 white-text mb-button-action'}}