  <div class="fixed-action-btn">
    <a class="btn-floating btn-large home-color" onclick={{action (route-action 'goTo' 'messages-new')}}>
      <i class="large material-icons">add</i>
    </a>
  </div>

<br>

<a class="btn btn-margin" onclick={{action (route-action 'goTo' 'messages-settings')}}><i class="material-icons left">settings</i> Settings</a>

{{#md-card-collapsible accordion=false}}
    {{#each model as |file|}}
        {{#md-collapsible icon="material-icons" title=file.filename}}
            {{hl7-file-item file=file}}
        {{/md-collapsible}}
    {{/each}}
{{/md-card-collapsible}}